<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Spot</title>
    <link rel="stylesheet" href="/css/style.css"> 

</head>

<body>
    <header class="header">
        {{> header}}



    </header>

    <main>

        <div class="login-container">
            {{{body}}}
        </div>

    

    </main>

    <footer>
        {{> footer}}


    </footer>



    <script src="../../public/js/logout.js"></script>
</body>